*{margin: 0; padding:0}
html,body,h1,h2,h3,h4,h5,h6,td,tr,dl,dd{
	letter-spacing:0.1em;
	margin:0;
	padding:0;
	font-family: "微软雅黑";
	font-size:14px;
	background-image:url(../images/1.gif); /*background-color:#f1eaea;*/
	color: #D6D6D6;
}
a{text-decoration:none;}
li{list-style:none;}
#wrap{
	width:1010px;
	margin:0 auto;
	height:auto;
	padding:10px 0 0 0;
	background-color:#FFFFFF;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
#wrap_star{
	width:1010px;
	margin:0 auto;
	height:930px;
	padding:10px 0 0 0;
	background-color:#fff;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
#wrap_insti{
	width:1010px;
	margin:0 auto;
	min-height:930px;
	overflow:hidden;
	padding:10px 0 0 0;
	background-color:#FFFFFF;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
#wrap_book{
	width:1010px;
	margin:0 auto;
	min-height:1800px;
	overflow:hidden;
	padding:10px 0 0 0;
	background-color:#FFFFFF;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
#wrap_book_single{
	width:1010px;
	margin:0 auto;
	min-height:630px;
	overflow:hidden;
	padding:10px 0 0 0;
	background-color:#FFFFFF;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
#wrap_insti1{
	width:1010px;
	margin:0 auto;
	min-height:940px;
	overflow:auto;
	padding:10px 0 0 0;
	background-color:#FFFFFF;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
#wrap_des{
	width:1010px;
	margin:0 auto;
	min-height:1030px;
	overflow:auto;
	padding:10px 0 0 0;
	background-color:#FFFFFF;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
#top{
	width:1000px;
	height:80px;
	margin:0 auto;
	clear:both;
	padding:0;
	background-image:url(../images/final.png);
}
#gt{
	width:1000px;
	height:5px;
	margin:0 auto;
	background-color:#D40001;
	clear:both;
	padding:0;
}
#top2{
	width:1000px;
	height:150px;
	margin:0 auto;
	margin-top:5px;
	clear:both;
	padding:0;
	background-image:url(../images/head2.jpg);
}
#section_final{
	height:565px;
	*height:575px;
	width:1000px;
	margin:0 auto;
	padding:0;
}
#section1_right{
	height:560px;

	width:740px;
	float:left;

}
#section1_left{
	height:560px;
	width:260px;
	float:left;

}
#section1{
	height:315px;
	width:1000px;
	margin:0 auto;
	padding:0;
}
#section_read{
	height:505px;
	width:1000px;
	margin:0 auto;
	padding:0;
}
#read_left{
	float:left;
	width:654px;
	height:505px;
}
#read_right{
	float:left;
	width:338px;
	margin-left:6px;
	background-color:#fff;
	height:503px;
	border:1px solid #b52c38;
}
#read_r_title{
	width:328px;
	height:20px;
	margin:0 auto;
	padding:0;
	color:#b52c38;
	line-height:24px;
	padding:5px 0 3px 10px;
	font-size:16px;
	font-weight:bold;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#read_r_block{
	width:320px;
	height:150px;
	margin:0 auto;
	padding:0;
	margin-top:5px;
	border-bottom:1px solid #f60;
}
#read_r_block_img{
	border:1px solid #ccc;
	height:138px;
	width:130px;
	float:left;
}
#read_r_block_img a{
	text-decoration:none;
	height:138px;
	width:130px;
}
#read_r_block_img a:hover{
	text-decoration:none;
	height:138px;
	width:130px;
}	.border:hover img {border: 1px solid #09C;}
#read_r_block_img_1{
	border:1px solid #ccc;
	height:138px;
	width:130px;
	float:left;
	margin-left:45px;
}
#read_r_block_img_1 a{
	text-decoration:none;
	height:138px;
	border:none;
	width:130px;
}
#read_r_block_img_1 a:hover{
	text-decoration:none;
	height:138px;
	width:130px;
}
#section2{
	height:240px;
	width:1000px;
	margin:5px auto;
	padding:0;
	margin-bottom:0;
}
#section_img{
	background-image:url(../images/sample.png);
	height:88px;
	width:998px;
	margin:5px auto;
	margin-top:0;
	padding:0;
	border:1px solid #b52c38;
}
#section_tuijian{
	background-image:url(../images/sample.png);
	height:88px;
	width:998px;
	margin:5px auto;
	border:1px solid #b52c38;
	padding:0;
}
#section_star{
	height:240px;
	width:998px;
	background-color:#fff;
	margin:0 auto;
	margin-top:5px;
	padding:0;
	border:1px solid #b52c38;
}
#star_title{
	width:988px;
	height:16px;
	background-image:url(../images/tiao.png);
	margin:0 auto;
	color:#b52c38;
	font-size:16px;
	font-weight:bold;
	line-height:16px;
	border-bottom:1px solid #b52c38;
	padding:10px 0 3px 10px;
}
#section_link{
	width:998px;
	height:70px;
	border:1px solid #b52c38;
	margin:5px auto;
	padding:0;
	background-color: #fff;
}
#link_t{
	width:100px;
	height:90px;
	float:left;
	display:inline;
}
#bottom{
	height:120px;
	width:590px;
	margin:0 auto;
	padding:0 205px;
	font-size:12px;
	background-color:#990000;
	border-top:1px solid #b52c38;
}
#bottom ul li{
	height:16px;
	float:left;
	list-style:none;
	line-height:16px;
	color:#FFFFFF;
	margin-top:4px;
	border-right:1px solid #FFFFFF;
	margin-right:10px;
}
#bottom ul li a{
	text-decoration:none;
	color:#FFFFFF;
}
#bottom ul li a:hover{
	text-decoration:none;
	color:#FFFFFF;
}
#star_c{
	width:681px;
	height:200px;
	margin:0 auto;
	padding:0;
}
#star_row{
	height:90px;
	width:930px;
	margin:0 auto;
	padding:0;
	margin-top:10px;
}
#star_g{
	width:200px;
	height:80px;
	float:left;
	margin-top:8px;
	border:1px solid #d2311c;
}
#star_t{
	width:110px;
	margin-left:5px;
	margin-top:3px;
	height:55px;
	float:left;
	color:#000;
	line-height:18px;
	font-size:13px;
	overflow:hidden;
}
#star_more{
	width:110px;
	margin-left:5px;
	margin-top:3px;
	height:20px;
	float:left;
	text-align:right;
	line-height:18px;
	font-size:10px;
	color:#333;
	overflow:hidden;
}
#star_more li{
	list-style:none;
}
#star_more li a{
	color:#999;
	text-decoration:none;
}
#star_more li a:hover{
	text-decoration:underline;
	color:#F60;
}
#star_pic{
	height:78px;
	width:78px;
	float:left;
	background-image:url(../images/head.png);
	border:1px solid #ccc;
}
#star1_g{
	width:200px;
	height:80px;
	float:left;
	margin-top:8px;
	border:1px solid #d2311c;
	margin-left:37px;
}
#t{
	margin-right:5px;
	text-align:right; 
	float:right; 
	font-size:12px; 
	text-decoration:none; 
	color:#b52c38;
	cursor:pointer;
}
#read{
	height:248px;
	width:325px;
	float:left;
	border:1px solid #b52c38;
	background-color:#fff;
	border-right:none;
}
#read1{
	height:248px;
	width:325px;
	float:left;
	border:1px solid #b52c38;
	background-color:#fff;
}
#read2{
	height:248px;
	width:325px;
	float:left;
	border:1px solid #b52c38;
	background-color:#fff;
	margin-top:5px;
}
#read3{
	height:248px;
	width:325px;
	float:left;
	margin-top:5px;
	border:1px solid #b52c38;
	background-color:#fff;
	border-left:none;
}
#read_title{
	width:315px;
	height:20px;
	margin:0 auto;
	padding:0;
	color:#b52c38;
	line-height:24px;
	padding:5px 0 3px 10px;
	font-size:16px;
	font-weight:bold;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#s1_title{
	width:320px;
	height:20px;
	margin:0 auto;
	padding:0;
	color:#b52c38;
	line-height:24px;
	padding:10px 0 3px 10px;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #b52c38;
}
#gonggao{
	width:250px !important;
	height:238px;
	*height:235px;
	float:left;
	background-color:#fff;
	border:1px solid #b52c38;
	display:inline;
}
#gonggao1{
	width:218px !important;
	height:200px;
	*height:235px;
	float:left;
	background-color:#fff;
	border:1px solid #b52c38;
	display:inline;
}
#gonggao_c{
	width:240px;
	height:190px;
	margin:5px auto 0 auto;
	padding:3px 0 3px 5px;
	color:#ccc;
	font-size:14px;
	line-height:14px;
}
#gonggao_c li{
	width:230px;
	line-height:14px;
	list-style:none;
	float:left;
	margin:5px 0;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration:none;
}
#gonggao_c li a{
	word-break:break-all;
	text-decoration:none;
	color:#000;
}
#gonggao_c li a:hover{
	text-decoration:underline;
	color:#f60;
}
#gonggao_m{
	width:228px;
	height:238px;
	*height:235px;
	float:left;
	background-color:#fff;
	border:1px solid #b52c38;
	display:inline;
}
#gonggao_c1{
	width:220px;
	height:190px;
	margin:5px auto 0 auto;
	padding:3px 0 3px 5px;
	color:#ccc;
	font-size:14px;
	line-height:14px;
}
#gonggao_c1 li{
	width:218px;
	line-height:14px;
	list-style:none;
	float:left;
	margin:5px 0;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration:none;
}
#gonggao_c1 li a{
	word-break:break-all;
	text-decoration:none;
	color:#000;
}
#gonggao_c1 li a:hover{
	text-decoration:underline;
	color:#f60;
}
marquee{
	font-size:14px;
	line-height:14px;
}
marquee ul li{
	list-style:none;
	text-decoration:none;
	color:#000;
	height:auto;
	margin:5px 0;
	line-height:16px;
}
marquee ul li a{
	text-decoration:none;
	color:#000;
}
marquee ul li a:hover{
	text-decoration:underline;
	color:#F60;
}
#d_title{
	width:720px;
	height:16px;
	margin:0 auto;
	padding:5px 0 0 10px;
	color:#b52c38;
	font-size:16px;
	font-weight:bold;
	line-height:16px;

}
#d_title_wrap{
	width:736px;
	height:28px;
	margin:0 auto;
	padding:0;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#r_title{
	width:230px;
	height:16px;
	margin:0 auto;
	margin-top:0px;
	padding:5px 0 0 10px;
	color:#b52c38;
	font-size:16px;
	font-weight:bold;
	line-height:16px;
}
#r_title a{
	color:#b52c38;
	text-decoration:none;
}
#r_title a:hover{
	color:#b52c38;
	text-decoration:none;
}
#r_title_wrap{
	width:248px;
	height:26px;
	margin:0 auto;
	padding:0;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#r_title1{
	width:218px;
	height:16px;
	margin:0 auto;
	margin-top:3px;
	padding:5px 0 0 10px;
	color:#b52c38;
	font-size:16px;
	font-weight:bold;
	line-height:16px;
}
#r_title_wrap1{
	width:228px;
	height:26px;
	margin:0 auto;
	padding:0;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#dongtai{
	width:738px !important;
	*width:737px;
	height:310px;
	float:left;
	/*background-color:#ccc;*/
	border:1px solid #b52c38;
	display:inline;
	background-color: #fff;
}
#dongtai_c{
	width:726px;
	height:260px;
	margin:10px auto;
	padding:0;
	clear: both;
}
#liebiao{
	width:355px;
	height:260px;
	float:left;
	margin-left:5px;
}
#s1_c{
	width:344px;
	height:260px;
	float:left;
	line-height:20px;
	font-size:13px;
}
#s1_c ul li{
	list-style:none;
	text-decoration:none;
	color:#000;
	height:20px;
	padding:4px 0;
	width:340px;
	list-style:inside;
	list-style-image:url(../images/arrow01.gif);
	line-height:18px;
	overflow:hidden;
}
.back_1{
	background-color:#FFFFFF;
	border-bottom:1px solid #fdc874;
}
.back_2{
	background-color:#f8b670;
	border-bottom:1px solid #fdc874;
}
#s1_c ul li a{
	color:#000;
	text-decoration:none;
	word-break:break-all;
}
#s1_c ul li a:hover{
	color:#F60;
	text-decoration:underline;
}
#s1_c_sub{
	height:20px;
	width:auto;
}
#span_c1{
	float:left;
	float:left;
	width:45px;
	font-size:10px;
	height:inherit;
	line-height:inherit;
}
#login_l{
	height:130px;
	width:210px;
	padding:0;
	margin:0 auto;
	margin-top:10px;
}
#login_l li{
	width:210px;
	height:26px !important;
	*height:28px;
	float:left;
	line-height:22px;
	margin-bottom:10px;
	color:#333333;
}
#login_input{
	width:140px;
	height:22px;
}
#zhibu{
	width:369px;
	height:238px;
	float:left;
	border:1px solid #b52c38;
	border-right:none;
	background-color:#fff;
	margin-top:5px;
	display:inline;
	*margin-left:0px;
}
#quntuan{
	background-color:#fff;
	width:368px;
	height:238px;
	float:left;
	display:inline;
	border:1px solid #b52c38;
	margin-top:5px;
	*margin-left:-3px;
}
#s2_c{
	width:360px;
	height:200px;
	margin:5px auto 0 auto;
	padding:0;
	line-height:20px;
	font-size:13px;
}
#s2_c ul li{
	list-style:none;
	text-decoration:none;
	color:#000;
	height:auto;
	margin:0 0 4px;
	width:370px;
	line-height:18px;
}
#s2_c ul li span1{
	height:20px;
	float:left;
	width:300px;
}
#s2_c ul li a{
	color:#000;
	text-decoration:none;
}
#s2_c ul li a:hover{
	color:#F60;
	text-decoration:underline;
}
#s2_c_sub{
	height:20px;
	width:auto;
}
#s3_c{
	width:305px;
	height:208px;
	margin:7px 10px 0 !important;
	*margin:7px 10px 0;
	padding:0;
	line-height:20px;
	font-size:13px;
}
#s3_c ul li{
	list-style:none;
	text-decoration:none;
	color:#000;
	height:auto;
	margin-top:6px;
	width:240px;
	line-height:18px;
}
#s3_c ul li span1{
	height:20px;
	float:left;
	width:300px;
}
#s3_c ul li a{
	color:#000;
	text-decoration:none;
}
#s3_c ul li a:hover{
	color:#F60;
	text-decoration:underline;
}
#s3_c_sub{
	height:20px;
	width:auto;
}
#s2_title{
	width:359px;
	height:16px;
	margin:0 auto;
	padding:0;
	color:#b52c38;
	line-height:16px;
	padding:5px 0 3px 10px;
	font-size:16px;
	font-weight:bold;
}
#s2_title_wrap{
	width:369px;
	height:28px;
	margin:0 auto;
	padding:0;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#s2_title_wrap1{
	width:368px;
	height:28px;
	margin:0 auto;
	padding:0;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#lian{
	border-right:1px solid #b52c38;
	width:119px;
	height:70px;
	float:left;
	background-color: #fff;
}
#lian_head{
	width:100px;
	margin:25px 15px;
	padding:0;
	height:20px;
	line-height:20px;
	font-weight:bold;
	font-size:16px;
	color:#b52c38;
}
.lian_t{
	width:780px;
	height:22px;
	float:right;
	padding:8px 0 0 10px;
}
.lian_t li{
	height:20px;
	width:150px;
	font-size:14px;
	color:#000000;
	float:left;
	margin-right:30px;
	margin-top:5px;
}
.lian_t li a{
	height:20px;
	width:150px;
	font-size:14px;
	color:#000000;
	float:left;
	margin-right:30px;
}

/*menu*/
#navMenu {
	width:1000px;
	margin:5px auto;
	height: 39px;
	line-height:39px;
	display:block;
	overflow:hidden;
	background: url(../images/nav_bg.jpg) repeat-x ;
}
#navMenu ul{
	width:950px;
	padding-left:7px;
	background:url(../images/nav_l.jpg) no-repeat;
	float:left;
}
#navMenu .onelink{
	background-image:none;
	color: #FFF;
}
#navMenu_r{
	padding-right:7px;
	background:url(../images/nav_r.jpg) no-repeat right ;
	float:right;
	height:39px;
}
#navMenu li {
	width:108px;
	text-align:center;
	float: left;
	line-height:39px;
	height: 39px;
	background-image: url(../images/nav_fg.jpg);	
	background-repeat: no-repeat;
	background-position: 0 center;	
	margin-left: -2px;
}
#navMenu li a {
	color:#fff;
	padding-right: 1em;
	padding-left: 1em;
	margin-left: 2px;
	display: block;
}
#navMenu li a:hover{
	text-decoration: none;
	color:#FFf;
	background: url(../images/nav_hover.jpg)  no-repeat center;
}
/*-------- 下拉菜单 --------------*/
.dropMenu {	
	position:absolute;
	top: -40px;
	z-index:100;
	width: 108px;
	visibility: hidden; 
	margin-top: -1px;
	margin-left:2px;
	
}

.dropMenu li.end { /*background:url(images/sub_bottom.jpg) no-repeat;*/ background-color:#990000;padding-left:6px;height:12px;}
.dropMenu li {/*background:url(images/sub_bg.jpg);*/}
.dropMenu li a {
width: 100%;	
display: block;
text-align:center;
background-color:#990000;
padding: 5px 0 5px 0;
color:#fff;
text-decoration:none;
}
.dropMenu a:hover {
	text-decoration: none;
	color:#FFFFFF;
	background-color:#ce2b1c;
}
.dropMenu1 {	
	position:absolute;
	top: -40px;
	z-index:100;
	width: 128px;
	visibility: hidden; 
	margin-top: -1px;
	margin-left:2px;
	
}
.dropMenu1 li.end { /*background:url(images/sub_bottom.jpg) no-repeat;*/ background-color:#f56a03;padding-left:6px;height:12px;}
.dropMenu1 li {/*background:url(images/sub_bg.jpg);*/}
.dropMenu1 li a {
width: 100%;	
display: block;
text-align:center;
background-color:#f6a92f;
padding: 5px 0 5px 0;
color:#fff;
}
.dropMenu1 a:hover {text-decoration: underline;color:#fff; background-color:#fa911b;}
/*institution*/
#ic{
	width:1000px;
	margin:0 auto;
	padding:0;
	height:610px;
}
#sele{
	width:248px;
	height:98px;
	float:left;
	background-color:#fff;
	border:1px solid #b52c38;
}
#ic_list{
	width:738px;
	margin-left:10px;
	float:left;
	height:598px;
	border:1px solid #b52c38;
}
#ic_title{
	width:728px;
	height:16px;
	background-image:url(../images/tiao.png);
	margin:0 auto;
	color:#b52c38;
	font-size:16px;
	font-weight:bold;
	line-height:16px;
	border-bottom:1px solid #b52c38;
	padding:10px 0 3px 10px;
}
#ic_c{
	width:738px;
	margin:0 auto;
	padding:0;
	height:568px;
}
#star_row1{
	height:90px;
	width:688px;
	margin:0 20px;
	padding:0;
	margin-top:10px;
}
#se_wrap{
	width:248px;
	height:24px;
	margin:0 auto;
	padding:0;
	background-image:url(../images/tiao.png);
	border-bottom:1px solid #b52c38;
}
#se_title{
	width:240px;
	height:16px;
	margin:5px auto 0 auto;
	padding:3px 0 3px 5px;
	color:#b52c38;
	font-size:16px;
	font-weight:bold;
	line-height:16px;
}
#ic_next{
	width:180px;
	height:22px;
	line-height:22px;
	margin:10px auto;
	padding:0;
}
#ic_next li{
	width:60px;
	list-style:none;
	line-height:22px;
	font-size:12px;
	float:left;
	color:#000;
}
#ic_next li a{
	color:#000;
	text-decoration:none;
}
#ic_next li a:hover{
	text-decoration:underline;
	color:#f60;
}
#se_se{
	width:160px;
	height:22px;
	margin:20px auto;
	padding:0;
}
/*institution*/
#insti_c{
	width:1000px;
	margin:0 auto;
	padding:0;
	min-height:610px;
	overflow:auto;
	margin-bottom: 10px;
}
#insti_title{
	width:758px;
	height:55px;
	margin:5px auto 0 auto;
	color:#000000;
	text-align:center;
	font-size:22px;
	line-height:25px;
	border-bottom:1px solid #b52c38;
}
#insti_list{
	width:758px;
	margin-left:10px;
	float:left;
	min-height:598px;
	overflow:auto;
	background-color:#fff;
	border:1px solid #b52c38;
}
#insti_list_n{
	width:758px;
	margin-left:9px;
	float:left;
	min-height:598px;
	overflow:auto;
	background-color:#fff;
	border:1px solid #b52c38;
}
#insti_cc{
	width:723px;
	margin:5px auto;
	padding:0;
	font-size:15px;
	line-height:22px;
	min-height:530px;
	overflow:auto;
	color:#000;
}
/*section_read*/
#m_title{
	width:748px;
	height:40px;
	margin:20px auto 0 auto;
	color:#000000;
	text-align:center;
	font-size:30px;
	line-height:30px;
	border-bottom:1px solid #b52c38;
}
#m_list{
	width:758px;
	margin-left:10px;
	float:left;
	height:598px;
	background-color:#fff;
	border:1px solid #b52c38;
}
#m_cc{
	width:748px;
	margin:5px auto 0 auto;
	padding:0;
	line-height:22px;
	height:490px;
	color:#000;
}
#m_cc li{
	float:left;
	width:740px;
	margin-left:8px;
	line-height:22px;
	list-style:none;
	margin-bottom:8px;
}
#m_cc li span{
	float:left;
}
#m_cc li span1{
	float:right;
	font-size:12px;
	margin-top:5px;
	line-height:12px;
}
#m_cc li a{
	color:#000000;
}
#m_cc li a:hover{
	color:#f60;
	text-decoration:underline;
}
#m_next{
	width:600px;
	height:22px;
	line-height:22px;
	margin:0 auto;
	padding:0;
	text-align:center;
}
#m_next li{
	width:30px;
	list-style:none;
	line-height:22px;
	font-size:12px;
	float:left;
	color:#000;
}
#m_next li a{
	color:#000;
	text-decoration:none;
}
#m_next li a:hover{
	text-decoration:underline;
	color:#f60;
}
#m_left{
	height:130px;
	*height:130px;
	width:228px;
	float:left;
	border:1px solid #b52c38;
	background-color:#fff;
}
#m_left_xx{
	height:162px;
	width:228px;
	float:left;
	border:1px solid #b52c38;
	background-color:#fff;
}
#m_left_xx1{
	height:228px;
	width:228px;
	float:left;
	border:1px solid #b52c38;
	background-color:#fff;
}
#m_left_title{
	width:218px;
	height:19px;
	background-image:url(../images/tiao.png);
	margin:0 auto;
	color:#b52c38;
	font-size:16px;
	font-weight:bold;
	line-height:16px;
	border-bottom:1px solid #b52c38;
	padding:10px 0 0 10px;
	*margin-top:-3px;
}
#m_left_c{
	width:228px;
	height:99px;
	margin:0 auto;
	padding:0;
}
#m_left_c1{
	width:228px;
	height:178px;
	margin:0 auto;
	padding:0;
}
#m_left_c li{
	height:16px;
	line-height:16px;
	float:left;
	width:228px;
	text-align:center;
	font-weight:bold;
	padding:8px 0;
	background:#fdb416;
	border-bottom:1px solid #f60;
}
#m_left_c li:hover{
	background-color:#fdcf16;
}
#m_left_c li a{
	color:#fff;
	text-decoration:none;
}
#m_left_c li a:hover{
	color:#fff;
	text-decoration:underline;
}
#m_left_c1 li{
	height:16px;
	line-height:16px;
	float:left;
	width:228px;
	text-align:center;
	font-weight:bold;
	padding:8px 0;
	background:#fdb416;
	border-bottom:1px solid #f60;
}
#m_left_c1 li:hover{
	background-color:#fdcf16;
}
#m_left_c1 li a{
	color:#fff;
	text-decoration:none;
}
#m_left_c1 li a:hover{
	color:#fff;
	text-decoration:underline;
}
/*star_description*/
#des{
	width:1000px;
	margin:0 auto 10px;
	padding:0;
	min-height:720px;
	overflow:auto;
}
#des_list{
	width:738px;
	margin-left:10px;
	float:left;
	background-color:#fff;
	min-height:670px;
	*min-height:700px;
	overflow:auto;
	border:1px solid #b52c38;
}
#des_img{
	height:250px;
	width:200px;
	float:left;
	margin-left:10px;
	*display:inline;
	border:1px solid #ccc;
}
#des_img_des{
	color:#000;
	width:498px;
	padding:5px;
	min-height:595px;
	overflow:auto;
	float:left;
	margin-left:10px;
	border:1px solid #ccc;
}
#des_c{
	width:738px;
	margin:10px auto 0;
	padding:0;
	min-height:660px;
	overflow:auto;
}
#img_new{
	height:259px;
	width:575px;
	margin:10px auto;
	padding:0;
}
#img_new_des{
	width:610px;
	min-height:200px;
	line-height:22px;
	overflow:auto;
	margin:0 auto;
	padding:0;
}
/*top_ad*/

#howdy {
	COLOR: #fff; FONT-SIZE: 17px;
}
#howdy SPAN#heading {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold;
}
#howdy SMALL {
	COLOR: #f8e7db; FONT-SIZE: 12px;
}
#howdy A {
	COLOR: #fff;
}
#howdy A:link {
	COLOR: #fff;
}
#howdy A:visited {
	COLOR: #fff;
}
#howdy A:hover {
	
}
#howdy A:unknown {
	
}
.howdydo-style {
	BORDER-BOTTOM: #999 0px solid; 
	TEXT-ALIGN: center; 
	BACKGROUND-COLOR: #f79d40; 
	-moz-box-shadow: 0px 3px 5px #999; 
	-webkit-box-shadow: 0px 3px 5px #999; 
	box-shadow: 0px 3px 5px #999
}
#howdydo-wrapper {
	Z-INDEX: 1000; 
	POSITION: fixed; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	WIDTH: 100%; 
	PADDING-RIGHT: 0px; 
	OVERFLOW: visible; 
	PADDING-TOP: 0px;
}
.howdydo-box {
	Z-INDEX: 9999; 
	PADDING-BOTTOM: 15px; 
	PADDING-LEFT: 0px; 
	WIDTH: 100%; 
	PADDING-RIGHT: 0px; 
	DISPLAY: none; 
	PADDING-TOP: 10px;
}
#howdydo-close {
	POSITION: absolute;
	bottom:10px;
	*top:20px;  
	RIGHT: 30px;
}
#howdydo-open {
	POSITION: absolute; 
	PADDING-BOTTOM: 10px; 
	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px; 
	TOP: 0px; RIGHT: 20px; 
	PADDING-TOP: 10px;
}
.howdydo-hover {
	POSITION: absolute; 
	TOP: 0px; 
	LEFT: 0px;
}
.howdydo-scroll {
	POSITION: fixed; 
	TOP: 0px; 
	LEFT: 0px;
}
.howdydo-push {
	POSITION: relative; 
	MARGIN-BOTTOM: 1px; 
	FLOAT: left; 
	CLEAR: both;
}
#book{
	width:746px;
	min-height:220px;
	*min-height:220px;
	overflow:auto;
	margin:0 auto;
	padding:0;
	border:1px solid #c55e67;
	padding-bottom:5px;
	margin-bottom:5px;
}
#book_img{
	height:198px;
	width:150px;
	float:left;
	margin-left:10px;
	margin-top:5px;
	border:1px solid #ccc;
}
#book_c1{
	width:550px;
	min-height:180px;
	overflow:auto;
	float:left;
	margin-top:5px;
	margin-left:25px;
	*margin-left:20px;
	border:1px solid #ccc;
}
#book_c_jian{
	height:30px;
	padding:10px 0 0 8px;
	padding:10px 0 0 8px;
	width:540px;
	font-size:14px;
	line-height:16px;
	float:left;
	border-bottom:1px solid #ccc;
}
#book_c_w{
	min-height:140px;
	overflow:auto;
	width:530px;
	padding:10px;
	float:left;
}
#shu{
	margin-right:5px;
}
#book_list{
	width:758px;
	margin-left:10px;
	float:left;
	height:1500px;
	*height:1450px;
	background-color:#fff;
	border:1px solid #b52c38;
}
#book_list_single{
	width:758px;
	margin-left:10px;
	float:left;
	height:300px;
	*height:300px;
	overflow:hidden;
	background-color:#fff;
	border:1px solid #b52c38;
}
#book_c{
	width:1000px;
	margin:0 auto;
	padding:0;
	height:1530px;
}
#book_c_single{
	width:1000px;
	margin:0 auto;
	padding:0;
	min-height:310px;
	overflow:hidden;
}
#book_cc{
	width:748px;
	margin:5px auto 0 auto;
	padding:0;
	line-height:22px;
	min-height:1400px;
	overflow:hidden;
	color:#000;
}
#book_cc_single{
	width:748px;
	margin:5px auto 0 auto;
	padding:0;
	line-height:22px;
	min-height:230px;
	overflow:auto;
	color:#000;
}
#book_next{
	clear:both;
	width:746px;
	height:20px;
	margin:0 auto;
	padding:0;
}
/* CSS Document */
