@charset "utf-8";
/* CSS Document */


/*menu*/
#menu{
	width:1000px;
	margin:0 auto;
	height:32px;
	padding:0;
	margin-bottom:10px;
}
#nav {
	margin:0 auto; 
	width:1080px; 
	display:block; 
	clear:both;
}
#nav .mainlevel {
	/*background:#499c13;*/ 	background-image:url(../images/menu.jpg);
	float:left; 
	border-right:1px solid #fff; 
	width:142px;/*IE6 only*/
}
#nav .mainlevel a {
	color:#000; 
	text-decoration:none;
	text-align:center;
	font-weight:bold; 
	line-height:32px; 
	display:block; 
	padding:0 20px; 
	width:100px;
}
#nav .mainlevel a:hover {
	color:#fff; 
	text-decoration:none;
	background-image:url(../images/hover.jpg);  
	/*background:#b52c38;*/
}
#nav .mainlevel ul {
	display:none;
	position:absolute;
}
#nav .mainlevel li {
	border-top:1px solid #fff;
	background:#eff1f2;
	position:relative;
	width:142px;/*IE6 only*/
}
