/* CSS Document */
/*
	top:
		width:1000px;
		height:80px;
	
*/

#top_lef{
	width:400px;
	height:80px;
	float:left;
}
#top_mid{
	width:300px;
	height:80px;
	float:left;
}
#top_rig{
	width:300px;
	height:80px;
	float:left;
}
/* 时间栏 */
#top_mid_up{
	width:300px;
	height:45px;
}
#top_mid_mid{
	width:300px;
	height:18px;
	color:#999999;
}
#top_mid_down{
	width:300px;
	height:17px;
}
/* 收藏栏 */
#top_rig_ge{
	width:120px;
	height:80px;
	float:left;
}
#top_rig_lef{
	width:60px;
	height:60px;
	float:left;
	margin-top:20px;
	font-size:12px;
	color:#990000;
}
#top_rig_mid{
	width:60px;
	height:60px;
	float:left;
	margin-top:20px;
	font-size:12px;
	color:#990000;
}
#top_rig_rig{
	width:60px;
	height:60px;
	float:left;
	margin-top:20px;
	font-size:12px;
	color:#990000;
}

#news_title {
	height:20px;
	margin:0px;
    width: 758px;
	text-align:center;
}
#news_info {
	color:#666666;
	height:15px;
	margin-top:8px;
    width: 758px;
	text-align:center;
	font-size:13px;
	float:left;
}
