#wrapper {
	border:1px #ccc solid;
	position:relative;
	overflow:hidden;
	width:573px;
	height:257px;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
}
#number {
	width:88px;
	position:absolute;
	left:10px;
	bottom:10px;
}
#number li {
	padding-left:6px;
	float:left;
	text-indent:-9999px;
	width:16px;
	height:16px;
	overflow:hidden;
	background-image:url(../images/number1.png);
	background-repeat:no-repeat;
}
#buttom_0 {
	background-position:0 0;
}
#buttom_1 {
	background-position:-22px 0;
}
#buttom_2 {
	background-position:-44px 0;
}
#buttom_3 {
	background-position:-66px 0;
}
#buttom_0.selected {
	background-position:0 -16px;
}
#buttom_1.selected {
	background-position:-22px -16px;
}
#buttom_2.selected {
	background-position:-44px -16px;
}
#buttom_3.selected {
	background-position:-66px -16px;
}
/* 新闻图片 */
#picBox{
	float:left;
	width:360px;
	height: 260px;
	margin:0px auto; 
	overflow:hidden; 
	position:relative;
	font-size:12px; 
}
#picBox ul#show_pic{ 
	margin:0; 
	padding:0; 
	list-style:none; 
	height:260px; 
	width:2000px; 
	position:absolute;
}
#picBox ul#show_pic li{ 
	float:left; 
	margin:0; 
	padding:0; 
	height:260px;
}

#picBox ul#show_pic li img{ 
	display:block;
	border:0;
	}
#icon_num{ 
	position:absolute; 
	bottom:0px; 
	right:0px;
}
#icon_num li{ 
	float:left; 
	background:url(../images/flashbutton.gif) no-repeat -15px 0;
	width:15px; 
	height:18px; 
	list-style:none; 
	color:#39F; 
	text-align:center;  
	cursor:pointer; 
	padding:0; 
	margin:0;
	margin-right:5px;
}
#icon_num li:hover,#icon_num li.active{ 
	background:url(../images/flashbutton.gif) no-repeat 0 0; 
	color:#fff;
}


.content_right{
	float:left;
	display:inline;
	overflow:hidden;
	width:1000px;
	height: 150px;
}
.content_right .ad {
	width:1000px;
	height:150px;
	overflow:hidden;
	position:relative;
}
.content_right .slider,.content_right .num{
	position:absolute;
}
.content_right .slider li{ 
	list-style:none;
	display:inline;
}
.content_right .slider img{
	width:1000px;
	height:150px;
	display:block;
}
.content_right .num{ 
	right:5px; 
	bottom:5px;
}
.content_right .num li{
	float: left;
	color: #069;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	margin: 3px 1px;
	border: 1px solid #069;
	background-color: #fff;
}
.content_right .num li.on{
	color: #fff;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-size: 14px;
	margin: 3px 1px;
	border: 1px solid #069;
	background-color: #069;
	font-weight: bold;
}
