/* CSS Document */
/* 嵌入index的iframe页面的样式表 */



/************ news_add ************/
.xcol{
	margin-top:8px;
	padding:0;
	width:100%;
	height:25px;
	float:left;
	font-size:16px;
}
.xcol-lef{
	margin-top:0px;
	width:12%;
	height:22px;
	float:left;
}
.xcol-rig{
	margin-top:0px;
	width:88%;
	height:22px;
	float:left;
}
.inp{
	width:40%;
	height:22px;
	border:0;
	border-bottom:1px solid #000000;
	font-size:16px;
	float:left;
}
.inpBig{
	width:100%;
	height:22px;
	border:0;
	border-bottom:1px solid #000000;
	font-size:16px;
	float:left;
}
.sel{
	width:40%;
	height:22px;
	font-size:16px;
}

.bcol{
	margin-top:8px;
	padding:0;
	width:100%;
	height:500px;
	float:left;
}
.bcol-lef{
	width:12%;
	float:left;
}
.bcol-rig{
	width:88%;
	float:left;	
}

.sub_btn{
	margin-top:10px;
	margin-bottom:30px;
	float:right;
	padding-right:40px;
}


/************ news_list ************/
.select_kind{
	height:30px;
	width:100%;
}
.sel_list{
	width:150px;
	height:22px;
	font-size:16px;
	float:left;
	margin-top:3px;
}
.select_input{
	width:18px;
}
.tab_list{
	width:100%;
	height:100%;
}
.tab_row_x{
	width:99%;
	height:22px;
	float:left;
	background: #459300 url('../resources/images/bg-button-green-little.gif') top left repeat-x !important;
	border: 1px solid #459300 !important;
	color: #fff !important;
    font-size: 14px !important;
	font-weight:bold;
	padding-top:8px;
	padding-left:5px;
}
.tab_row{
	width:100%;
	height:26px;
	font-size:14px;
	float:left;
}
.tab_col_a{
	width:12%;
	height:24px;
	float:left;
	text-align:center;
	padding-left:0;
}
.tab_col_b{
	width:15%;
	height:24px;
	float:left;
}
.tab_col_c{
	width:30%;
	height:24px;
	float:left;
}

.tab_col_d{
	width:16%;
	height:24px;
	float:left;
}
.tab_col_d_x{
	width:16%;
	height:24px;
	float:left;
	margin-left:12%;
}

.tab_col_c a{ 
	text-decoration: none;
	color:#000000;
}
.tab_col_c a:link { 
	text-decoration: none;
	color:#000000;
}
.tab_col_c a:active {
	text-decoration:blink;
}
.tab_col_c a:hover {
	text-decoration:none;
	color:#009900;
} 
.tab_col_c a:visited {
	text-decoration: none;
	color:#000000;
}

.hr_x{
	height:1px;
	width:100%;
	background:url('../resources/images/hr.png');
	margin-bottom:10px;
	float:left;
}
.hr_y{
	height:5px;
	width:100%;
	margin-bottom:5px;
	float:left;
}
.hr_z{
	height:30px;
	width:100%;
	margin-bottom:5px;
	float:left;
}

/************ 分页 ************/
.page_list{
	text-align:right;
	height:26px;
	width:99%;
	color:#333333;
	float:left;
}
/******** 分页用的小按钮 *********/
.lit_btn{
				font-family:"宋体";
                display: inline-block;
				background: #459300 url('../resources/images/bg-button-green-little.gif') top left repeat-x !important;
                border: 1px solid #459300 !important;
                padding: 2px 4px 2px 4px !important;
                color: #fff !important;
                font-size: 14px !important;
				margin:0;
				
}

/************ LittleButton ************/
.button_x {
				font-family:"宋体";
                display: inline-block;
				background: #459300 url('../resources/images/bg-button-green-little.gif') top left repeat-x !important;
                border: 1px solid #459300 !important;
                padding: 2px 4px 2px 4px !important;
                color: #fff !important;
                font-size: 14px !important;
				margin:0;
				height:22px;
				width:45%;
                }
                
.button_x:hover {
                text-decoration: underline;
                }
                

				
/************ Button ************/
.button {
				font-family:"宋体";
                display: inline-block;
                background: #459300 url('../resources/images/bg-button-green.gif') top left repeat-x !important;
                border: 1px solid #459300 !important;
                padding: 4px 7px 4px 7px !important;
                color: #fff !important;
                font-size: 14px !important;
                cursor: pointer;
                }
                
.button:hover {
                text-decoration: underline;
                }
                

				
a.remove-link {
				color: #bb0000;
				}

a.remove-link:hover {
				color: #000;
				}

/******** admin_add.php **************/
#adminMain{
	margin-top:30px;
	width:100%;
	height:300px;
}
#adminTable{
	width:100%;
	height:300px;
	float:left;
}
.adminTableOne{
	width:100%;
	height:50px;
	float:left;
}
.adminTableOneOne{
	width:130px;
	height:20px;
	float:left;
	padding-top:8px;
}
.adminTableOneTwo{
	width:300px;
	height:20px;
	float:left;
}

/********** 版权信息 ************/
.copy_right{
	height:22px;
	font-size:14px;
	width:99%;
	color:#009900;
	text-align:right;
	float:left;
}