/* CSS Document */
.txt{
	width:500px;
	height:400px;
	float:left;
}


/************* 友情链接管理页面 **************/
.link_list{
	width:100%;
	height:280px;
	padding:0;
	margin:0;
}
.link_li{
	width:24%;
	height:130px;
	float:left;
	margin-left:2px;
	margin-top:15px;
	border: 1px solid #459300 !important;
}
.link_pos{
	width:100%;
	height:23px;
	background: #459300 url('../resources/images/bg-button-green-little.gif') top left repeat-x !important;
	color:#FFFFFF;
	text-align:center;
	font-weight:600;
	float:left;
}
.link_name{
	width:100%;
	hight:23px;
	float:left;
	text-align:center;
	margin-top:10px;
}
.link_url{
	width:100%;
	hight:23px;
	float:left;
	text-align:center;
	margin-top:10px;
}
.link_btn{
	width:100%;
	hight:23px;
	float:left;
	text-align:center;
	margin-top:10px;
}
.btn{
	font-family:"宋体";
    display: inline-block;
    background: #459300 url('../resources/images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #459300 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 14px !important;
    cursor: pointer;
}
.btn:hover {
    text-decoration:none;
}


/************* 修改友情链接页面 **************/

/************* 文件上传页面 **************/
.fmain{
	width:100%;
	height:350px;
}
.fang{
	width:100%;
	height:30px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}
.fang_lef{
	width:10%;
	height:24px;
	float:left;
}
.fang_rig{
	width:80%;
	height:24px;
	float:left;
}
.gang{
	width:100%;
	height:100px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	color:#FF0000;
}
.finp{
	width:60%;
	height:22px;
	border:0;
	border-bottom:1px solid #000000;
	font-size:16px;
	float:left;
}
.minp{
	width:100%;
	height:22px;
	border:0;
	border-bottom:1px solid #000000;
	font-size:16px;
	float:left;
}

